.intro {
  display: flex;
  flex-direction: column;
  margin: 92px 0 0 0;
}

.intro__title {
  font-size: 54px;
  font-weight: 900px;
  line-height: 58px;
  max-width: 690px;
  margin: 0 0 0 148px;
}

.intro__subtitle {
  font-size: 24px;
  font-weight: 400px;
  max-width: 690px;
  margin: 40px 0 0 148px;
  line-height: 34px;
}

.intro__content {
  font-size: 16px;
  font-weight: 400px;
  line-height: 26.08px;
  max-width: 690px;
  margin: 0 0 0 148px;
}

.intro__data {
  font-size: 12px;
  line-height: 18px;
  margin: 39px 0 0 148px;
  list-style-type: none;
  padding: 0;
  max-width: 690px;
}

.intro__data-bold {
  font-size: "Inter";
  font-weight: 700;
}
