.places {
  display: flex;
  max-width: 984px;
  max-height: 584px;
  margin: 92px 0 0 148px;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: center;
}

.places__first-title {
  font-size: 72px;
  font-weight: 900;
  margin: 0;
}

.places__content-image {
  margin: 48px 0 0 0;
  padding: 0;
  max-width: 460px;
  max-height: 460px;
}

.places__second {
  margin-left: 40px;
  max-width: 484px;
  font-size: 18px;
}

.places__second-description {
  font-weight: 400;
  line-height: 29.34px;
  margin: 48px 0 0 0;
}

.places__second-descriptiontwo {
  margin: 0;
  font-weight: 400;
  line-height: 29.34px;
}

.places__second-descriptioncost {
  margin: 0;
}

.places__second-url {
  margin: 0;
  font-size: 12px;
  color: #aaaaaa;
}

.places__second-website {
  margin: 4px 0 0 0;
  font-size: 18px;
  text-decoration: underline;
}
